{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ".editorconfig",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "LICENSE.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
