<div class="columns">
  <div class="column is-three-quarters">
    <div class="content">
      <h2>Pipeline Pool</h2>
      <section class="section">
        <h4>Public</h4>
        <p>
          These bioinformatics pipelines have been constructed using plugins in the plugin pool and are compatible with the latest version of PluMA. To install and run a pipeline, please clone its repository from the <strong>pipelines/</strong> directory of the PluMA source tree. Have a new pipeline that you would like to add to the pool? Please send your repository and a description to <a href="mailto:tcickovs@fiu.edu">Trevor Cickovski</a>.
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>16SrRNA</td>
              <td>Variable regions in 16SrRNA, used to study Cystic Fibrosis (Doud et al, 2010)</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section">
        <h4>Private</h4>
        <p>
          These bioinformatics pipelines are currently under development by the BioRG and will be released in future publications.
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
  <div class="column is-one-quarter">
    <pluma-online-pluma-sidebar></pluma-online-pluma-sidebar>
  </div>
</div>
