<div class="columns">
  <div class="column is-three-quarters">
    <div class="content">
      <h2>PluMA:&nbsp;
        <strong class="text-alternate">Plu</strong>gin-Based&nbsp;
        <strong class="text-alternate">M</strong>icrobiome&nbsp;
        <strong class="text-alternate">A</strong>nalysis
      </h2>
      <section class="section" id="people">
        <h3>People</h3>
        <p><strong>Principal Investigator:</strong> Prof. Giri Narasimhan</p>
        <p><strong>Pipeline Architect:</strong> Dr. Trevor Cickovski</p>
      </section>
      <section class="section" id="abstract">
        <h3>Abstract</h3>
        <p>Our goal with PluMA is to facilitate the construction of flexible and lightweight analysis pipelines through which a developer can implement a new algorithm in their programming language of choice, and easily test and debug within a larger pipeline alongside stages in different languages that potentially use different file formats.</p>
        <p>PluMA accomplishes this through <em>plugins</em>, and has a large collection available in its <a routerLink="/software/pluma//plugins">plugin pool</a>, implemented in various programming languages for both the CPU and GPU. Plugins can be run sequentially to form a pipeline, and can be easily added, removed or substituted through our user interface. Since plugins are dynamically loaded, you can assemble a pipeline by downloading <a href="https://github.com/FIUBioRG/PluMA/">PluMA</a> and only the plugins that you need from the pool.</p>
        <p>
          <em>Note: Our software should not be confused with the PluMa Plugin Management system, and we have no connections or competing interests with PluMa.</em>
        </p>
        <p><em>Note: PluMA is now a part of OMICTools! Visit their <a href="https://omictools.com/blog/test-your-microbiome-analysis-pipeline-with-pluma">site</a> for details.</em>
        </p>
      </section>
      <section class="section" id="citations">
        <h3>Citations</h3>
        <p>
          <strong>Cickovski, T., Narasimhan, G.</strong> (2018)
          <strong>Constructing Lightweight and Flexible Pipelines Using Plugin-Based Microbiome Analysis (PluMA)</strong>,
          <em>Bioinformatics</em> 34(17):2881-2888, 2018.
        </p>
        <p>
          <strong>Cickovski, T., Aguiar-Pulido, V., Huang, W., Mahmud, S., Narasimhan, G.</strong>
          (2016).
          <strong>Lightweight Microbiome Analysis Pipelines</strong>
          <em>In Proceedings of International Work Conference on Bioinformatics and Biomedical Engineering (IWBBIO'16)</em>
        </p>
      </section>
    </div>
  </div>
  <div class="column is-on-quarter">
    <aside class="menu">
      <p class="menu-label">Download PluMA</p>
      <ul class="menu-list">
        <li>
          <a routerLink="/pluma">PluMA Home</a>
        </li>
        <li>
          <a href="https://github.com/FIUBioRG/PluMA" target="_blank">PluMA Github Site</a>
        </li>
        <li>
          <a href="#">PluMA Userguide</a>
        </li>
        <li>
          <a routerLink="/pluma/plugins">PluMA Plugin Pool</a>
        </li>
        <li>
          <a routerLink="/pluma/pipelines">PluMA Pipeline Pool</a>
        </li>
      </ul>
    </aside>
  </div>
</div>
