<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <section class="section content">
      <div class="box">
        <h2>Reset Password</h2>
        <form class="form" id="resetForm" [formGroup]="resetForm"
          (ngSubmit)="onSubmit()">
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-right">
              <input class="input"
                type='password'
                formControlName="password"
                [ngClass]="{
                  'is-danger': resetForm.get('password')?.dirty && !resetForm.get('password')?.valid
                }"
                required />
              <span class="icon is-right">
                  <i class="fas fa-eye-slash"></i>
              </span>
            </div>
            <div *ngIf="!resetForm.get('password')?.hasError('required') && !resetForm.get('password')?.valid" class="box">
              <div *ngIf="(resetForm.get('password')?.hasError('minlength'))">
                <p class="help is-danger">Length of password must be at least 8 characters.</p>
              </div>
              <div *ngIf="(resetForm.get('password')?.hasError('pattern'))">
                <div>
                  <p class="help is-danger">Password must include at least one of each:</p>
                </div>
                <div><p class="help" [ngClass]="[resetForm.get('password')?.value.match('(?=[a-z]+)') ? 'is-success' : 'is-danger']">- lowercase</p></div>
                <div><p class="help" [ngClass]="[resetForm.get('password')?.value.match('(?=[A-Z]+)') ? 'is-success' : 'is-danger']">- uppercase</p></div>
                <div><p class="help" [ngClass]="[resetForm.get('password')?.value.match('(?=[0-9]+)') ? 'is-success' : 'is-danger']">- number</p></div>
                <div><p class="help" [ngClass]="[resetForm.get('password')?.value.match('(?=[!@#$%^&*?]+)') ? 'is-success' : 'is-danger']">- symbol</p></div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Password Confirmation</label>
            <div class="control">
              <input class="input" type="password"
                formControlName="passwordConfirm"
                [ngClass]="{
                  'is-danger': resetForm.get('passwordConfirm')?.dirty && !resetForm.get('passwordConfirm')?.valid
                }"
                required />
            </div>
            <div class="help is-danger"
            *ngIf="resetForm.get('passwordConfirm')?.dirty && resetForm.hasError('isMatching')">
              <p>Passwords must match</p>
            </div>
          </div>
          <div *ngIf="hasError | async" class="notification is-danger">
            {{ error?.message }}
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit"
                [disabled]="resetForm.pristine || !resetForm.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

