<bu-navbar class="has-shadow mb-1" id="navbar-main" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/logo.png" alt="FIU BioRG" />
    </a>
  </div>
  <div class="navbar-start">
    <a class="navbar-item" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="navbar-item" href="https://biorg.cs.fiu.edu/research.html">Research</a>
    <a class="navbar-item" routerLink="/people">People</a>
    <a class="navbar-item" routerLink="/publications">Publications</a>
    <a class="navbar-item" href="https://biorg.cs.fiu.edu/teaching.html">Teaching</a>
    <div class="navbar-item has-dropdown is-hoverable">
      <span class="navbar-link">Software</span>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="https://biorg.cis.fiu.edu/jasper/">Jasper</a>
        <a class="navbar-item" href="https://biorg.cis.fiu.edu/flint/">Flint</a>
        <a class="navbar-item" routerLink="/pluma">PluMA</a>
      </div>
    </div>
    <a class="navbar-item" routerLink="/contact">Contact</a>
  </div>
  <div class="navbar-end">
    <ng-container *ngIf="(user | async)?.role === 'Admin'">
      <div class="navbar-item has-dropdown">
        <a class="navbar-link">Admin</a>
        <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/admin/plugins">Plugin Management</a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="(user | async) === null">
      <a class="navbar-item" routerLink="/register">Register</a>
      <a class="navbar-item" routerLink="/login">Login</a>
    </ng-container>
  </div>
</bu-navbar>
