<div class="columns">
  <div class="column is-three-quarters content">
    <section class="section">
      <h2 class="title">Bioinformatics Reasearch Group</h2>
      <h2 class="subtitle">
        Pls: <a href="http://www.cs.fiu.edu/~giri">Giri Narasimhan</a>;
        <a href="http://users.cis.fiu.edu/~tcickovs">Trevor Cickovski</a>;
        Kalai Mathee;
        <a href="https://www.cis.fiu.edu/faculty-staff/mondal-ananda/">Ananda Mondal;</a>
      </h2>
    </section>
    <section class="section">
      <p>
        The <strong>Bioinformatics Research Group (BioRG)</strong> in the School
        of Computing and Information Sciences, at Florida International University
        (FIU), is a multi-discipliary research group headed by Prof. Giri Narasimhan.
        The group works on problems from the fields of Bioinformatics,
        Machine Learning, Biotechnology, Data Mining, Visualization,
        Software Engineering, and more.
        The group's research projects include Microbiome Data Analysis, Epigenetics,
        Antibiotics resistance, Software Engineering, Visualization,
        Cancer Informatics, Electronic Health Records,
        Comparative Genomics of Bacterial genomes, Genomic databases,
        Pattern Discovery in sequences and structures,
        prediction of regulatory elements, primer design, probe design,
        phylogenetic analysis, medical image processing, image analysis,
        data integration, data mining, information retrieval, and more.
        The current focus of this research group is the development of tools and
        techniques for state-of-the-art <strong>Multi-omic Integrative Analysis</strong>.
      </p>
    </section>
    <section class="section">
      <p>
        <strong>Recent Exciting Research</strong> from this group includes:
        <ul>
          <li>Longitudinal multi-omic microbiome analysis (Ruiz-Perez et al., mSystems, 2021)</li>
          <li>Causal inferencing in microbiomes (Sazal et al., BMC Genomics, 2020; Sazal et al., Scientific Reports, 2021)</li>
          <li>Effect of metronidazole on vaginal microbiota associated with asymptotic bacterial vaginosis (Ruiz-Perez, Access Microb, 2021)</li>
          <li>"So You Think You Can PLS-DA" (Ruiz-Perez et al., BMC Bioinformatics, 2020)</li>
          <li>ADHD microbiome (Cickovski et al., J Medical Microb, 2020)</li>
          <li>Alpha-1 lung microbiome (Cickovski et al., book chapter, 2020)</li>
          <li>Causal inferencing in microbiomes (Sazal et al., BMC Bioinformatics, 2020; Sazal et al., BioRxiv, 2020)</li>
          <li>Visualizing microbiome profiles (Valdes et al., under review, 2020)</li>
          <li>Longitudinal microbiome analysis (Ruiz-Perez et al., Microbiome, 2019)</li>
          <li>Longitudinal multi-omic microbiome analysis (Ruiz-Perez et al., BioRxiv, 2019)</li>
          <li>Scalable microbiome profiling (Valdes et al., ISMB and Bioinformatics, 2019)</li>
          <li>Lightweight Microbiome Analysis pipeline PluMA (Cickovski et al., 2018)</li>
          <li>Multi-omics review (Aguiar-Pulido et al., Evol. Bioinf., 2016)</li>
          <li>Microbial "Social Networks" (Fernandez et al., BC Genomics, 2015)</li>
          <li>Microbiome analysis book chapter (Fernandez et al., 2015)</li>
        </ul>
      <p>
    </section>
    <section>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <h3 class="card-header-title">
                PhD Dissertations in 2020-21
              </h3>
            </div>
            <div class="card-content">
              <ul>
                <li>Camilo Valdes</li>
                <li>Daniel Ruiz-Perez</li>
                <li>Musfiquer Sazal</li>
                <li>Farzana Yusuf</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-header">
              <h3 class="card-header-title">Top Scholar Award 2021</h3>
            </div>
            <div class="card-content">
              <p>Prof. Giri Narasimhan</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-header">
              <h3 class="card-header-title">Recorded Talks</h3>
            </div>
            <div class="card-content">
              <ul>
                <li><a href="https://youtu.be/ilTyKIT6D2M">Seminar (April 2021) for SKC Science & Tech.</a></li>
                <li><a href="https://fiudit-my.sharepoint.com/:v:/g/personal/giri_fiu_edu/EaLvzGLgEx5AlRmp7JpAWG8BXybcn6bon1_aHBkPu39P1A">Seminar (Sep 2020) at BSI Symposium.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="column is-one-quarter">
    <pluma-online-home-sidebar></pluma-online-home-sidebar>
  </div>
</div>
