name: Testing CI

on:
  push:
    branches: [main, develop, feature/*, bugfix/*, release/*, hotfix/*, support/*]
  pull_request:
    types: [opened, reopened, edited, review_requested]

jobs:
  webapp:
    defaults:
      run:
        working-directory: ./
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
    services:
      database:
        image: mongo
        env:
          MONGO_INITDB_ROOT_USERNAME: ${{ secrets.MONGO_INITDB_ROOT_USERNAME }}
          MONGO_INITDB_ROOT_PASSWORD: ${{ secrets.MONGO_INITDB_ROOT_PASSWORD }}
          MONGO_INITDB_DATABASE: ${{ secrets.MONGO_INITDB_DATABASE }}
        ports:
          - 27017:27017
    env:
      APP_HOST: ${{ secrets.APP_HOST }}
      APP_JWT_SECRET: ${{ secrets.APP_JWT_SECRET }}
      APP_SETUP_PASSWORD: ${{ secrets.APP_SETUP_PASSWORD }}
      APP_ADMIN_EMAIL: ${{ secrets.APP_ADMIN_EMAIL }}
      APP_ADMIN_PASSWORD: ${{ secrets.APP_ADMIN_PASSWORD }}
      RECAPTCHA_SITE_KEY: ${{ secrets.RECAPTCHA_SITE_KEY }}
      RECAPTCHA_SECRET_KEY: ${{ secrets.RECAPTCHA_SECRET_KEY }}
      REDIS_HOST: ${{ secrets.REDIS_HOST }}
      REDIS_PORT: ${{ secrets.REDIS_PORT }}
      DATABASE_URL: mongo://${{secrets.MONGO_INITDB_ROOT_USERNAME}}:${{secrets.MONGO_INITDB_ROOT_PASSWORD}}@localhost:27017/${{secrets.MONGO_INITDB_DATABASE}}
    steps:
    - uses: actions/checkout@v3
    - name: Cache pnpm modules
      uses: actions/cache@v3
      env:
        cache-name: cache-pnpm-modules
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-
    - uses: pnpm/action-setup@v2.2.2
      with:
        version: 7.2.1
    - run: pnpm install --no-frozen-lockfile --strict-peer-dependencies false
    # - run: pnpx prisma migrate deploy
      # env:
      #   DATABASE_URL: mongo://${{secrets.MONGO_INITDB_ROOT_USERNAME}}:${{secrets.MONGO_INITDB_ROOT_PASSWORD}}@localhost:27017/${{secrets.MONGO_INITDB_DATABASE}}
    - run: pnpm lint
    - run: pnpm test
